<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<data>
    <vid>1390</vid>
    <pid>306</pid>
    <rev>0</rev>
    <select_profile>0</select_profile>
    <profile>
        <profname>デフォルト</profname>
        <lbutton>1</lbutton>
        <lbutton_etcKey></lbutton_etcKey>
        <rbutton>2</rbutton>
        <rbutton_etcKey></rbutton_etcKey>
        <tbutton>9</tbutton>
        <tbutton_etcKey></tbutton_etcKey>
        <button4>3</button4>
        <button4_etcKey></button4_etcKey>
        <button5>4</button5>
        <button5_etcKey></button5_etcKey>
        <scrolls>4</scrolls>
        <tiltleft>33</tiltleft>
        <tiltleft_etcKey></tiltleft_etcKey>
        <tiltright>34</tiltright>
        <tiltright_etcKey></tiltright_etcKey>
        <hspeed>5</hspeed>
        <hlotate>5</hlotate>
        <hcount>0</hcount>
        <button6>38</button6>
        <button6_etcKey></button6_etcKey>
        <button7>38</button7>
        <button7_etcKey></button7_etcKey>
        <button8>37</button8>
        <button8_etcKey>左Windows+左Shift+→</button8_etcKey>
        <button9>55</button9>
        <button9_etcKey></button9_etcKey>
        <button10>56</button10>
        <button10_etcKey></button10_etcKey>
        <button11>63</button11>
        <button11_etcKey></button11_etcKey>
        <button12>62</button12>
        <button12_etcKey></button12_etcKey>
        <button13>64</button13>
        <button13_etcKey></button13_etcKey>
    </profile>
    <profile>
        <profname>excel</profname>
        <lbutton>1</lbutton>
        <lbutton_etcKey></lbutton_etcKey>
        <rbutton>2</rbutton>
        <rbutton_etcKey></rbutton_etcKey>
        <tbutton>9</tbutton>
        <tbutton_etcKey></tbutton_etcKey>
        <button4>37</button4>
        <button4_etcKey>左Ctrl+PageUp</button4_etcKey>
        <button5>37</button5>
        <button5_etcKey>左Ctrl+PageDown</button5_etcKey>
        <scrolls>4</scrolls>
        <tiltleft>33</tiltleft>
        <tiltleft_etcKey></tiltleft_etcKey>
        <tiltright>34</tiltright>
        <tiltright_etcKey></tiltright_etcKey>
        <hspeed>5</hspeed>
        <hlotate>5</hlotate>
        <hcount>0</hcount>
        <Application>
            <name>Excel 2016</name>
            <path>C:\Program Files (x86)\Microsoft Office\Office16\EXCEL.EXE</path>
        </Application>
        <button6>37</button6>
        <button6_etcKey>左Ctrl+Tab</button6_etcKey>
        <button7>38</button7>
        <button7_etcKey></button7_etcKey>
        <button8>37</button8>
        <button8_etcKey>左Windows+左Shift+→</button8_etcKey>
        <button9>55</button9>
        <button9_etcKey></button9_etcKey>
        <button10>56</button10>
        <button10_etcKey></button10_etcKey>
        <button11>63</button11>
        <button11_etcKey></button11_etcKey>
        <button12>62</button12>
        <button12_etcKey></button12_etcKey>
        <button13>64</button13>
        <button13_etcKey></button13_etcKey>
    </profile>
</data>
